body{
display: flex;
background-color: black;
justify-content: center;
align-items: center;
}

section{
position: relative;
display:flex;
justify-content:center;
align-items: center;
margin-top: 55px;
width:400px;
height:598px;
border-style: solid;
/* border-color: red; */
background-image: url(http://img.hebus.com/hebus_2005/01/04/preview/050104151748_55.jpg);
background-position: bottom;
background-repeat: no-repeat;
overflow: hidden;
}

#oiseau{
position: absolute;
display:flex;
justify-content:center;
align-items:center;
height: 48px;
}

.obstacle {
position: absolute;
right: 34px;
top:-200px;
/* height: 500px;
width: 2px; */
}


/* .obstacleBas {

}

obstacleHaut{

} */
